*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Creepster', cursive;
}

body{
    min-height: 100vh;
    background: url('') no-repeat;
    background-size: cover;
    background-position: center;
}

.header{
    top: 0;
    left: 0;
    margin-bottom: 55px;
    width: 100%;
    padding: 15px 100px;
    background: #190731;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 2px 4px #0f041e;
}
.logo{
    font-size: 32px;
    color: #ff6600;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    position:relative;
    font-size: 18px;
    color: #ff6600;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: #ff6600;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}

.header::before{
    content: "\1F383";
    font-size: 50px;
    color: #ff6600;
    position: absolute;
    top: -2px;
    left: 15px;
}

.time::before{
    content: "\1F555";
    font-size: 20px;
    color: #ff6600;
    position: relative;
    top: 0px;
    left: 0px;
}
.location::before{
    content: "\1F4CD";
    font-size: 20px;
    color: #ff6600;
    position: relative;
    top: 0px;
    left: 0px;
}

